
@font-face {
    font-family: "roboto";
    src: url(foons/roboto/Roboto-MediumItalic.ttf);
}

html {
    font-family: "roboto" ;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    height: 310vh;
    background-color: #9ddbe4;
    background-size: cover;
    
}

body {
    margin: 0;
    
}

.header {
    
    width: 1920px;
    height: 48px;
    background: #FFFD00;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
      
}

.content {
    padding: 10px;
    padding-left: 300px;
    font-size: 22px;
     
}

.magnifying-glass {
    position: relative;
    bottom: 4px;
    right:  360px;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    background-color: aliceblue;
    border: 4px solid rgb(1, 27, 53);
    border-radius: 50%;
}

.magnifying-glass:after {
    content: " ";
    position: absolute;
    bottom: -2px;
    right: 1px;
    width: 17px;
    height: 4px;
    background-color: rgb(1, 16, 31);
    border-radius: 0 7.5px 7.5px 0;
    transform-origin: 0 50%;
    transform: translate(100%) rotate(45deg);
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }

  input {
    width: 100%;
    height: 42px;
    padding-left: 60px;
    border: 2px solid #7BA7AB;
    border-radius: 39px;
    outline: none;
    margin-left: 400px;
    background: rgba(255, 255, 255, 0.486);
    color: #fffff;
  }

  button {
    position: absolute; 
    top: 5px;
    right: -160px;
    width: 40px;
    height: 40px;
    border: none;
    background: #ffffff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  button::before {
    content: "\f002";
    background-image: ;
    font-size: 24px;
    font-family: FontAwesome;
    color: #ffffff
  }

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1920px;
    height: 48px;
    background: #ffff;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    
}

.nav-inerA {
    width: 117px;
    height: 16px ;
    font-size: 14px;
    padding-right: 30px; 
    text-decoration: none;
}

 .nav-inerB {
    width: 67px;
    height: 16px ;
    font-size: 14px;
    padding-right: 400px;
    margin: 10px;
    text-decoration: none;     
}

.top-container {
    display: grid;
    grid-template-columns: repeat(4,284px);
    grid-template-rows: repeat(4,300px);
    justify-content: center;
    margin: 100px;
    padding-right: 100px;
    gap: 18px;
    
}


.item {
    background:  url(imgs/image\ 1\ \(2\).png);
           
}

.item-special {
    grid-column-start: 1 ;
    grid-column-end: 3 ;
    grid-row-start: 1 ;
    grid-row-end: 3 ;
    background: url(imgs/image\ 1\ \(2\).png); 
        
}

.name {
    display: flex;
    flex-direction: column;
    width: 586px;
    height: 218px;
    margin-top: 400px;
    background-color:  #fff;
    
}

.name1 {
    width: 315px;
    height: 45px;
    font-size: 34px;
    padding-left: 20px;
    
}

.name2 {
    width: 555px;
    height: 95px;
    min-height: 95px;
    font-size: 16px;
    padding-left: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
     
}

.text {
    width: 89px;
    height: 16px;
    color: rgb(151, 104, 240);
    font-size: 14px;
    margin-left: 20px;
    padding-top: 10px;
    text-decoration: none;
}

.top-top-container {
    display: grid;
    grid-template-columns: repeat(2,590px);
    grid-template-rows: repeat(3,300px);
    gap: 15px;
}

.item1 {
    display: flex;
    background:   url(imgs/image\ 1\ \(2\).png);
    border: 1px rgb(88, 48, 161) solid;
}

.bag {
   background:  linear-gradient(360deg, #FFFFFF 10.88%, rgba(255, 255, 255, 0) 29.1%);
   width: 285px;
   height: 131px;
}

.nameA {
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 171px;
    background: #fff;
            
}

.nameB {
    width: 190px;
    height: 5px;
    font-size: 24px;
    padding: 15px ;
    
}

.nameC {
    width: 255px;
    height: 40px;
    padding: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    overflow: hidden ;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.text1 {
    width: 89px;
    height: 5px;
    font-size: 14px;
    color: rgb(77, 77, 219);
    padding: 15px;
    text-decoration: none;
    
}

.nomber {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 120px;
    height: 5px;
    font-size: 26px;
    color: rgb(51, 223, 51);
    padding-left: 150px;
         
}
.nomber1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    width: 120px;
    height: 5px;
    font-size: 26px;
    color: rgb(51, 223, 51);
    padding-left: 450px;
}

.nomber2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    width: 120px;
    height: 5px;
    font-size: 26px;
    color: rgb(51, 223, 51);
    padding-left: 170px;
}

.block {
    background: linear-gradient(270deg, #FFFFFF 10.94%, rgba(255, 255, 255, 0) 29.17%);
    width: 285px;
    height: 300px;
}

.block2 {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 305px;
    height: 300px;
       
}

.rom1 {
    width: 330px;
    height: 45px;
    padding-top: 15px;
    font-size: 34px;
       
}

.rom2 {
    width: 290px;
    height: 152px;
    max-height: 152px;
    font-size: 16px;
    overflow: hidden ;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.tom {
    width: 89px;
    height: 16px;
    font-size: 14px;
    margin-top:  15px;
    text-decoration: none;
}

.pump {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 38px;
    background: #FFFD00;
    border-radius: 25px;
    margin-left:  230px;
    margin-top: 970px;
}

.pump:hover {
    background-color: #FFE600;
    transition-duration: 300ms;
}

.pump2 {
    font-size: 16px; 
    text-decoration: none; 
}

footer {
 margin-bottom:  120px;
}

.knopka:hover {
    background-color: rgb(179, 236, 184);
    transition-duration: 1s;
}

.knopka1:hover {
    background-color: rgb(179, 236, 184);
    transition-duration: 1s;
}

.knopka2:hover {
    background-color: rgb(212, 172, 175);
    transition-duration: 1s;
}



.knopka {
    z-index: 1;
    width: 30px;
    height: 20px;
    line-height: 1.3em;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    text-shadow: 1px 1px rgba(255, 255, 255, .3);
    font-size: 16px;
    font-weight: 900;
    color: rgb(13, 226, 95);
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid cadetblue;
    box-shadow: 
    inset 0 -2px 1px rgba(255, 255, 255,.5),
    inset 0  2px 1px rgba(255, 255, 255,.9),
    0 4px 4px rgba(55, 238, 147, 0.9);
     
}

.knopka1 {
    z-index: 1;
    width: 30px;
    height: 20px;
    line-height: 1.3em;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    text-shadow: 1px 1px rgba(255, 255, 255, .3);
    font-size: 16px;
    font-weight: 900;
    color: rgb(13, 224, 108);
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid cadetblue;
    box-shadow: 
    inset 0 -2px 1px rgba(255, 255, 255,.5),
    inset 0  2px 1px rgba(255, 255, 255,.9),
    0 4px 4px rgba(55, 238, 147, 0.9);
}

.knopka2 {
    z-index: 1;
    width: 30px;
    height: 20px;
    line-height: 1.3em;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    text-shadow: 1px 1px rgba(255, 255, 255, .3);
    font-size: 16px;
    font-weight: 900;
    color: rgb(238, 52, 52);
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid cadetblue;
    box-shadow: 
    inset 0 -2px 1px rgba(255, 255, 255,.5),
    inset 0  2px 1px rgba(255, 255, 255,.9),
    0 4px 4px rgba(55, 238, 147, 0.9);
}

@media screen and (max-width: 1280px)  {

    html {
        width: 100%;
        min-width: 100%;
        overflow-x: hidden ;
    }

    body {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }



    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 1280px;
        height: 280vh;
        background-color: #9ddbe4;
        background-size: cover;
        
    }

    form {
        position: relative;
        width: 300px;
        margin-left: 200px;
      }

      .nav-inerA {
        width: 117px;
        height: 16px ;
        font-size: 14px;
        text-decoration: none;
    }

    .nav-inerB {
        width: 67px;
        height: 16px ;
        font-size: 14px;
        margin-right:  300px;
        text-decoration: none;   
          
    }

    .top-container {
        display: flex;
        flex-direction: column;
        margin: 50px 30px;

    
    }
    
   
    .item-special {
        display: flex;
        flex-direction: row;
        background: url(imgs/image2_\(4\).png);
        width: 1185px;
        height: 300px;
              
    }

    .name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 635px;
        height: 300px;
        background-color:  #fff;
        margin: 0px;
        margin-left: 570px;
        
        
    }

    .item {
        display: flex;
        flex-direction: row;
        background:  url(imgs/image2_\(4\).png);
        width: 1185px;
        height: 300px;
           
    }

    .nameA {
        display: flex;
        flex-direction: column;
        width: 615px;
        height: 300px;
        background: #fff;
        margin-left: 290px;
                  
    }

    .text1 {
        padding-bottom: 60px;
    }

    .nameC {
        margin-top:  -20px;
    }

    .bag {
        background: url(imgs/image2_\(4\).png);  
     }

     .nameB {
        width: 315px;
        height: 45px;
        font-size: 35px;
        padding-left: 20px;
        padding-top: 20px;
      
    }

    .nameC {
        width: 555px;
        height: 80 px;
        min-height: 80px;
        font-size: 16px;
        padding-left: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      
    }

    .nomber {
        display: none;
    }

    .nomber1 {
        display: none;
    }

    .top-top-container {
        display: none;
    }

    .text {
       padding-bottom: 100px ;  
    }

    .pump {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 132px;
        height: 38px;
        background: #FFFD00;
        border-radius: 25px;
        margin-left:  530px;
        margin-top: 20px;
    }
    
    .pump2 {
        font-size: 16px; 
        text-decoration: none; 
    }
   
    }

    @media screen and (max-width: 960px) {

        form {
            position: relative;
            width: 300px;
            margin-left: -100px;
          }

          .nav-inerA {
            width: 117px;
            height: 16px ;
            font-size: 14px;
            text-decoration: none;
        }
    
        .nav-inerB {
            width: 67px;
            height: 16px ;
            font-size: 14px;
            margin-right:  600px;
            text-decoration: none;   
              
        }


        .item-special {
            display: flex;
            flex-direction: row;
            width: 890px;
            height: 230px;
              
        }

        .item {
            width: 880px;
            height: 230px;
            
        }

        .nameA {
           
            width: 600px;
            height: 230px;
            background: #fff;
            margin-left: 300px;  
                         
        }

        .name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 610px;
            height: 230px;
            background-color:  #fff;
            margin-left: 300px;
               
        }

        .name1 {
            padding-top: 15px;
        }
    
        .text1 {
            padding-bottom: 60px;
        }

        .nameB {
            font-size: 35px;
        }
    
        .nameC {
            margin-top:  -20px;
        }

        .pump {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 132px;
            height: 38px;
            background: #FFFD00;
            border-radius: 25px;
            margin-left: 400px;
            margin-top: 20px;
        }
        
        .pump2 {
            font-size: 16px; 
            text-decoration: none; 
        }

        
            
                
           
        


    }
        
    
        
    

    
     
    

         

    












